{% extends "base.html" %}
{% load staticfiles %}
{% load browse_filters %}


{% block includes %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'browse/css/msa0.4.6.css' %}" />-->
<!--<script src="{% static 'browse/js/xhr@latest.js' %}"></script>-->
<!--<script src="{% static 'browse/js/msa@0.4.6.js' %}"></script>-->
<!--<script src="{% static 'browse/js/biojs-io-fasta.js' %}"></script>-->
<!--<script src="{% static 'browse/js/biojs-io-gff.js' %}"></script>-->
<!--<script src="{% static 'browse/js/msa.js' %}"></script>-->

<!--&lt;!&ndash; Bootstrap core JavaScript-->
<!--================================================== &ndash;&gt;-->
<!--&lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;-->
<!--<script type="text/javascript" src="{% static 'browse/js/jquery-2.1.3.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'browse/js/bootstrap.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'browse/js/jquery.csv.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'browse/js/jquery.dataTables.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'browse/js/dataTables.bootstrap.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'browse/js/csv_to_html_table.js' %}"></script>-->

<!--<script type="text/javascript" src="{% static 'browse/js/bootstrap.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'browse/js/bootstrap-table.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'browse/js/bootstrap-table-export.min.js' %}"></script>-->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/cdsjsd3/g3-viz/0.5.0/g3-lollipop.min.css">
<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/cdsjsd3/css/gist.css">
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/cdsjsd3/g3-viz/0.5.0/g3-lollipop.min.js"></script>
<!--<script src="https://s3-us-west-2.amazonaws.com/cdsjsd3/data/TCGA-BRCA-varscan-somatic-PIK3CA-trimmed.js"></script>-->
{% endblock %}
{% block content %}

    <div>
        <div>
            <span class="btn-group">
                <button id="save-as-png">save as PNG</button>
                <button id="save-as-svg">save as SVG</button>
            </span>
        </div>

        <div id="lollipop"></div>
    </div>



    <script>
        var domainData = {
            "symbol": "PIK3CA",
            "uniprot": "P42336",
            "length": 1068,
            "pfam": [{
                "hmm.acc": "PF02192",
                "hmm.name": "PI3K_p85B",
                "start": 32,
                "end": 107,
                "type": "Family"
            }, {
                "hmm.acc": "PF00794",
                "hmm.name": "PI3K_rbd",
                "start": 173,
                "end": 292,
                "type": "Family"
            }, {
                "hmm.acc": "PF00792",
                "hmm.name": "PI3K_C2",
                "start": 350,
                "end": 485,
                "type": "Domain"
            }, {
                "hmm.acc": "PF00613",
                "hmm.name": "PI3Ka",
                "start": 519,
                "end": 704,
                "type": "Family"
            }, {
                "hmm.acc": "PF00454",
                "hmm.name": "PI3_PI4_kinase",
                "start": 796,
                "end": 1015,
                "type": "Family"
            }]
        };

        var domainDataFormat = {
            "length": "length",
            "domainType": "pfam",
            "details": {
                "start": "start",
                "end": "end",
                "name": "hmm.name"
            }
        };

        var plotOptions = {
            "chartWidth": 800,
            "chartType": "pie",
            "chartMargin": {
                "left": 40,
                "right": 40,
                "top": 30,
                "bottom": 25
            },
            "titleText": "PIK3CA (TCGA-BRCA)",
            "titleFont": "normal 20px Sans",
            "titleColor": "steelblue",
            "titleAlignment": "middle",
            "titleDy": "0.3em"
        };

        var mutationData = [{
            "Hugo_Symbol": "PIK3CA",
            "Variant_Classification": "Silent",
            "HGVSp_Short": "p.F70F",
            "Mutation_Class": "Inframe",
            "AA_Position": 70
        }, {
            "Hugo_Symbol": "PIK3CA",
            "Variant_Classification": "Missense_Mutation",
            "HGVSp_Short": "p.E81K",
            "Mutation_Class": "Missense",
            "AA_Position": 81
        }, {
            "Hugo_Symbol": "PIK3CA",
            "Variant_Classification": "Missense_Mutation",
            "HGVSp_Short": "p.E81K",
            "Mutation_Class": "Missense",
            "AA_Position": 81
        }, {
            "Hugo_Symbol": "PIK3CA",
            "Variant_Classification": "Missense_Mutation",
            "HGVSp_Short": "p.F83S",
            "Mutation_Class": "Missense",
            "AA_Position": 83
        }, {
            "Hugo_Symbol": "PIK3CA",
            "Variant_Classification": "Missense_Mutation",
            "HGVSp_Short": "p.R88Q",
            "Mutation_Class": "Missense",
            "AA_Position": 88
        }, {
            "Hugo_Symbol": "PIK3CA",
            "Variant_Classification": "Missense_Mutation",
            "HGVSp_Short": "p.R88Q",
            "Mutation_Class": "Missense",
            "AA_Position": 88
        }, {
            "Hugo_Symbol": "PIK3CA",
            "Variant_Classification": "In_Frame_Del",
            "HGVSp_Short": "p.E103_G106delinsD",
            "Mutation_Class": "Inframe",
            "AA_Position": 103
        }, {
            "Hugo_Symbol": "PIK3CA",
            "Variant_Classification": "In_Frame_Del",
            "HGVSp_Short": "p.E103_P104del",
            "Mutation_Class": "Inframe",
            "AA_Position": 103
        }, {
            "Hugo_Symbol": "PIK3CA",
            "Variant_Classification": "Missense_Mutation",
            "HGVSp_Short": "p.P104L",
            "Mutation_Class": "Missense",
            "AA_Position": 104
        }, {
            "Hugo_Symbol": "PIK3CA",
            "Variant_Classification": "In_Frame_Del",
            "HGVSp_Short": "p.V105_R108del",
            "Mutation_Class": "Inframe",
            "AA_Position": 105
        }, {
            "Hugo_Symbol": "PIK3CA",
            "Variant_Classification": "In_Frame_Del",
            "HGVSp_Short": "p.G106_R108del",
            "Mutation_Class": "Inframe",
            "AA_Position": 106
        }, {
            "Hugo_Symbol": "PIK3CA",
            "Variant_Classification": "Missense_Mutation",
            "HGVSp_Short": "p.R108H",
            "Mutation_Class": "Missense",
            "AA_Position": 108
        }, {
            "Hugo_Symbol": "PIK3CA",
            "Variant_Classification": "In_Frame_Del",
            "HGVSp_Short": "p.E109_I112delinsD",
            "Mutation_Class": "Inframe",
            "AA_Position": 109

        }];
        var mutationDataFormat = {
            "x": "AA_Position",
            "y": "HGVSp_Short",
            "factor": "Variant_Classification"
        };


            // new lollipop chart
        var lollipop = g3.Lollipop("lollipop");

        // add data
        lollipop.data.snvData = mutationData;
        lollipop.data.domainData = domainData;

        // add data options
        lollipop.format.snvData = mutationDataFormat;
        lollipop.format.domainData = domainDataFormat;

        // add chart options
        lollipop.setOptions(plotOptions);

        // draw
        lollipop.draw();

        // get chart div id
        var chartID = lollipop.options.chartID;

        // set default filename
        var output_chart_filename = "lollipop";
        // button actions: download chart
        document.getElementById("save-as-png").onclick = function (e) {
            g3.output().toPNG(output_chart_filename, chartID);
        };

        document.getElementById("save-as-svg").onclick = function (e) {
            g3.output().toSVG(output_chart_filename, chartID);
        };


    </script>

{% endblock %}