{% extends "base.html" %}
{% load staticfiles %}
{% load browse_filters %}


{% block includes %}
<link rel="stylesheet" type="text/css" href="{% static 'browse/css/msa0.4.6.css' %}" />
<script src="{% static 'browse/js/xhr@latest.js' %}"></script>
<script src="{% static 'browse/js/msa@0.4.6.js' %}"></script>
<script src="{% static 'browse/js/biojs-io-fasta.js' %}"></script>
<script src="{% static 'browse/js/biojs-io-gff.js' %}"></script>
<script src="{% static 'browse/js/msa.js' %}"></script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{% static 'browse/js/jquery-2.1.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'browse/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'browse/js/jquery.csv.min.js' %}"></script>
<script type="text/javascript" src="{% static 'browse/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'browse/js/dataTables.bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'browse/js/csv_to_html_table.js' %}"></script>

<script type="text/javascript" src="{% static 'browse/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'browse/js/bootstrap-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'browse/js/bootstrap-table-export.min.js' %}"></script>


<style>
#toolbar {
  margin: 0;
}
</style> 
<div id="toolbar" class="select">
  <select class="form-control">
    <option value="all">Export All</option>
    <option value="selected">Export Selected</option>
  </select>
</div>

<div id="sequence_toolbar_{{ page_name }}">
    <div class="btn-group" role="group" aria-label="...">
    {% if not page_name == "analyze_sequences" %}
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" id="msa_modal_button_{{ page_name }}"><span class="glyphicon glyphicon-align-right" aria-hidden="true"></span> View <abbr title="Multiple Sequence Alignment">MSA</abbr></button>
        </div>
    {% endif %}
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expander="false"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" id="download_fasta_{{ page_name }}">Download FASTA</a></li>
                <li><a href="#" id="entrez_{{ page_name }}">View in Entrez</a></li>
            </ul>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            {% if page_name == "basket" %}
            <button type="button" class="btn btn-default" id="remove_from_basket_{{ page_name }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Remove from Basket <span class="badge badge-basket"></span></button>
            {% else %}
            <button type="button" class="btn btn-default" id="add_to_basket_{{ page_name }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Basket <span class="badge badge-basket"></span></button>
            {% endif %}
        </div>
        {% if not curated %}
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expander="false"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Advanced <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" id="show_advanced_filter_{{ page_name }}" {% if blast_results or page_name == "basket" %}disabled="disabled"{% endif %}><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Add filters</a></li>
                <li><a href="#" id="reset_filter_{{ page_name }}"  {% if blast_results or page_name == "basket" %}disabled="disabled"{% endif %}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Clear filters</a></li>
                <li><a href="#" id="scores_modal_button_{{ page_name }}">Score against all HMMs</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>

<div class="container" style="margin-top:5px;">
  <div class="page-header" style="margin-bottom: 0px; margin-top: 10px"></div>
{#  <h4 class="page-header" style="margin-bottom: 0px; margin-top: 10px">Sequence preview and annotation<small> - select sequence in table to update.</small></h4>#}
  {#  Click on a row in table to change the displayed sequnce variant.#}
  <div style="height: 110px;">
  <div class="container" style="text-align:center">Keys: red - identical residues, blue - different residues (if more than one sequence). For feature legend see summary tab.</div>


  <div id="quick_msa-{{page_name}}">Sequence preview and annotation... LOADING<br><br><br><br><br><br></div>
  </div>



{% block javascript %}
{% load static %}

<table id="table"
  data-show-export="true"
  data-pagination="true"
  data-side-pagination="server"
  data-click-to-select="true"
  data-toolbar="#toolbar"
  data-show-toggle="true"
  data-show-columns="true">
</table>

<script>
  var $table = $('#table')

  function format_hgnc(hgnc_symbol ){
    var hgnc_dict = {'H1-0': 'HGNC:4714',
                         'H1-1': 'HGNC:4715',
                         'H1-2': 'HGNC:4716',
                         'H1-3': 'HGNC:4717',
                         'H1-4': 'HGNC:4718',
                         'H1-5': 'HGNC:4719',
                         'H1-6': 'HGNC:4720',
                         'H1-7': 'HGNC:24893',
                         'H1-8': 'HGNC:18463',
                         'H1-9P': 'HGNC:30616',
                         'H1-10': 'HGNC:4722',
                         'H2AC1': 'HGNC:18729',
                         'H2AC4': 'HGNC:4734',
                         'H2AC6': 'HGNC:4733',
                         'H2AC7': 'HGNC:4729',
                         'H2AC8': 'HGNC:4724',
                         'H2AC11': 'HGNC:4737',
                         'H2AC12': 'HGNC:13671',
                         'H2AC13': 'HGNC:4725',
                         'H2AC14': 'HGNC:4727',
                         'H2AC15': 'HGNC:4726',
                         'H2AC16': 'HGNC:4730',
                         'H2AC17': 'HGNC:4735',
                         'H2AC18': 'HGNC:4736',
                         'H2AC19': 'HGNC:29668',
                         'H2AC20': 'HGNC:4738',
                         'H2AC21': 'HGNC:20508',
                         'H2AJ': 'HGNC:14456',
                         'H2AW': 'HGNC:20507',
                         'H2AX': 'HGNC:4739',
                         'H2AZ1': 'HGNC:4741',
                         'H2AZ2': 'HGNC:20664',
                         'MACROH2A1': 'HGNC:4740',
                         'MACROH2A2': 'HGNC:14453',
                         'H2AB1': 'HGNC:22516',
                         'H2AB2': 'HGNC:18298',
                         'H2AB3': 'HGNC:14455',
                         'H2AP': 'HGNC:18417',
                         'H2BC1': 'HGNC:18730',
                         'H2BC3': 'HGNC:4751',
                         'H2BC4': 'HGNC:4757',
                         'H2BC5': 'HGNC:4747',
                         'H2BC6': 'HGNC:4753',
                         'H2BC7': 'HGNC:4752',
                         'H2BC8': 'HGNC:4746',
                         'H2BC9': 'HGNC:4755',
                         'H2BC10': 'HGNC:4756',
                         'H2BC11': 'HGNC:4761',
                         'H2BC12': 'HGNC:13954',
                         'H2BC13': 'HGNC:4748',
                         'H2BC14': 'HGNC:4750',
                         'H2BC15': 'HGNC:4749',
                         'H2BC17': 'HGNC:4758',
                         'H2BC18': 'HGNC:24700',
                         'H2BC21': 'HGNC:4760',
                         'H2BS1': 'HGNC:4762',
                         'H2BU1': 'HGNC:20514',
                         'H2BW1': 'HGNC:27252',
                         'H2BW2': 'HGNC:27867',
                         'H2BP6': 'HGNC:42633',
                         'H2BE1': 'HGNC:53833',
                         'H3C1': 'HGNC:4766',
                         'H3C2': 'HGNC:4776',
                         'H3C3': 'HGNC:4768',
                         'H3C4': 'HGNC:4767',
                         'H3C6': 'HGNC:4769',
                         'H3C7': 'HGNC:4773',
                         'H3C8': 'HGNC:4772',
                         'H3C10': 'HGNC:4775',
                         'H3C11': 'HGNC:4771',
                         'H3C12': 'HGNC:4774',
                         'H3C13': 'HGNC:25311',
                         'H3C14': 'HGNC:20503',
                         'H3C15': 'HGNC:20505',
                         'H3Y1': 'HGNC:43735',
                         'H3Y2': 'HGNC:43734',
                         'H3-2': 'HGNC:32060',
                         'H3-3A': 'HGNC:4764',
                         'H3-3B': 'HGNC:4765',
                         'H3-4': 'HGNC:4778',
                         'H3-5': 'HGNC:33164',
                         'CENPA': 'HGNC:1851',
                         'H4C1': 'HGNC:4781',
                         'H4C2': 'HGNC:4789',
                         'H4C3': 'HGNC:4787',
                         'H4C4': 'HGNC:4782',
                         'H4C5': 'HGNC:4790',
                         'H4C6': 'HGNC:4783',
                         'H4C7': 'HGNC:4792',
                         'H4C8': 'HGNC:4788',
                         'H4C9': 'HGNC:4793',
                         'H4C11': 'HGNC:4785',
                         'H4C12': 'HGNC:4784',
                         'H4C13': 'HGNC:4791',
                         'H4C14': 'HGNC:4794',
                         'H4C15': 'HGNC:29607',
                         'H4-16': 'HGNC:20510'}
        if (hgnc_symbol)
            return "<a href='https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/" + hgnc_dict[hgnc_symbol] + "'>" + hgnc_symbol + "</a>";
        else
            return hgnc_symbol;
    };
  
  function format_ncbi(ncbi_gene_id){
        if (ncbi_gene_id)
            return "<a href='https://www.ncbi.nlm.nih.gov/gene/" + ncbi_gene_id + "'>" + ncbi_gene_id + "</a>";
        else
            return ncbi_id;
  }
  function format_ensg(ensg_id){
        if (ensg_id)
            return "<a href='https://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g=" + ensg_id + "'>" + ensg_id + "</a>";
        else
            return ensg_id;
    };
    function format_pmid(pmids){
        if (pmids) {
            var pmids_list = pmids.split(" ");
            var links_str = "<a href='https://www.ncbi.nlm.nih.gov/pubmed/" + pmids_list[0] + "'>" + pmids_list[0] + "</a>";
            if (pmids_list[0].search("^[0-9]+$") < 0)
                links_str = pmids_list[0];
            for (i = 1; i < pmids_list.length; i++) {
                if (pmids_list[i].search("^[0-9]+$") < 0)
                    links_str += "; " + pmids_list[i];
                else
                    links_str += "; <a href='https://www.ncbi.nlm.nih.gov/pubmed/" + pmids_list[i] + "'>" + pmids_list[i] + "</a>";
            }
            return links_str;
        }
        else
            return pmids;
    };
    function format_type(histone_type){
        if (histone_type)
            return "<a href='/type/" + histone_type + "'>" + histone_type + "</a>";
        else
            return histone_type;
    };
    function format_variant(variant){
        var variant_full = variant.replace(/ /g, '_')
        var exclude_variants = ['', 'H1', 'H1.1', 'H1.2', 'H1.3', 'H1.4', 'H1.5', 'H10', 'H2.1', 'H2.2', 'H2A.2', 'H2A.J',
                                'H2B.M', 'H2B.S', '?'];
       
        if (exclude_variants.includes(variant_full) || variant_full.search("^[a-zA-Z0-9\._]+$") < 0)
            return variant;
        else
            return "<a href='/variant/" + variant_full + "'>" + variant + "</a>";
    };
    function format_enst(enst_id){
        if (enst_id)
            return "<a href='https://www.ensembl.org/Homo_sapiens/Transcript/Summary?db=core;t=" + enst_id + "'>" + enst_id + "</a>";
        else
            return enst_id;
    };
    function format_ncbi_mrna(refseq_id){
        if (refseq_id)
            return "<a href='https://www.ncbi.nlm.nih.gov/nuccore/" + refseq_id + "'>" + refseq_id + "</a>";
        else
            return refseq_id;
    };
    function format_ncbi_peptide(refseq_id){
        if (refseq_id)
            return "<a href='https://www.ncbi.nlm.nih.gov/protein/" + refseq_id + "'>" + refseq_id + "</a>";
        else
            return refseq_id;
    };
  $(function() {
    var data = [{% for gene in human_histones %}
                { "hgnc_symbol" : format_hgnc("{{ gene.hgnc_symbol }}", "{{ gene.ncbi_gene_id }}"),
                "prev_hgnc_symb" : "{{ gene.prev_hgnc_symb }}",
                "ncbi_gene_id" : format_ncbi("{{ gene.ncbi_gene_id }}"),
                "ensg" : format_ensg("{{ gene.ensg }}"),
                "expr_timing" : "{{ gene.expr_timing }}",
                "expr_pattern" : "{{ gene.expr_pattern }}",
                "biotype" : "{{ gene.biotype }}",
                "bona_fidecanonical" : "{{ gene.bona_fidecanonical }}",
                "pmids" : format_pmid("{{ gene.pmids }}"),
                "variant" : format_variant("{{ gene.variant.id }}"),
                "hist_type" : format_type("{{ gene.hist_type }}"),
                "enst" : format_enst("{{ gene.enst }}"), 
                "refseq_transcript_id" : format_ncbi_mrna("{{ gene.refseq_transcript_id }}"), 
                "refseq_protein_id" : format_ncbi_peptide("{{ gene.refseq_protein_id }}"), 
                "prot_lenght" : "{{ gene.prot_lenght }}", 
                "isoform": "{{ gene.isoform}}", 
                },
                 
                {% endfor %}
    ]
    
    $table.bootstrapTable({
        data: data,
        pagination:true,
        pageList:[5, 10, 20, 50, 100, 200, 500, 'All'],
        pageSize:100,
        height:750,
        sidePagination:"client",

          columns: [
              {field:"state", checkbox:true, }, //visible: $(this).val() === 'selected'
              {field:"hist_type", sortable:true, title:"Histone type", clickToSelect:false},
              {field:"variant", sortable:true, title:"Histone variant", clickToSelect:false},
              {field:"hgnc_symbol", sortable:true, title:"HGNC Symbol", clickToSelect:false},
              {field:"prev_hgnc_symb", sortable:true, title:"Previous HGNC Symbol", clickToSelect:false},
              {field:"ncbi_gene_id", sortable:true, title:"NCBI gene id", clickToSelect:false},
              {field:"ensg", sortable:true, title:"Ensembl gene ID", clickToSelect:false},
              {field:"expr_timing", sortable:true, title:"Expr. timing", clickToSelect:false},
              {field:"expr_pattern", sortable:true, title:"Expr. pattern", clickToSelect:false},
              {field:"biotype", sortable:true, title:"Biotype", clickToSelect:false},
              {field:"bona_fidecanonical", sortable:true, title:"Bona fide canonical", clickToSelect:false},
              {field:"pmids", sortable:true, title:"PMIDs", clickToSelect:false},
              {field:"enst", sortable:true, title:"Transcript stable ID", clickToSelect:false},
              {field:"refseq_transcript_id", sortable:true, title:"RefSeq transcript ID", clickToSelect:false},
              {field:"refseq_protein_id", sortable:true, title:"RefSeq protein ID", clickToSelect:false},
              {field:"prot_lenght", sortable:true, title:"Protein lenght", clickToSelect:false},
              {field:"isoform", sortable:true, title:"Isoform", clickToSelect:false},
            ]
   //       search:true,
        //  clickToSelect:true,
        });
            
  })  

           
</script>
{% endblock %}
{% endblock %}
